.nav-link{
    border-radius: 10px;
}
.nav-link:hover{
    background-color: white;
    color: black;
}
.logo{
    border-radius: 7px;
    
}
.social{
    font-size: 50px;
    margin-right: 10px;
}
.bi-youtube{
    color: red;
}
.social:hover{
    color: purple;
    
}
.bi-facebook{
    color: blue;
}
.bi-github{
    color: black;
}
a{
    text-decoration: none;
}